/* GLOBAL */

body {
    width: 80%;
    display: block;
    margin: auto;
    left: 0px;
    right: 0px;
}

body p {
    text-align: justify;
}

/* IMAGES */

div.figure {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div.figure img {
    display: block;
    margin: auto;
    left: 0px;
    right: 0px;
    max-width: 80%;
}

div.figure p {
    text-align: center;
    font-style: italic;
}

/* SOURCES */

pre.src:hover:before      { display: inline;       }
pre.src-sh:before         { content: 'sh';         }
pre.src-bash:before       { content: 'sh';         }
pre.src-fish:before       { content: 'fish';       }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-haskell:before    { content: 'Haskell';    }
pre.src-html:before       { content: 'HTML';       }
pre.src-org:before        { content: 'org-mode';   }

/* NAVIGATION */

ul.nav-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 16px;
  overflow: hidden;
  width: 100%;
}

.nav-elem a {
  display: block;
  padding: 10px;
  margin: 0px;
  /* color: @navText; */
  /* font-family: @headFont; */
  /* font-weight: 500; */
  font-size: 120%;
  text-align: center;
  text-decoration: none;
}

.nav-elem img {
  position: relative;
  top: 2px;
  right: 2px;
  height: 24px;
  width: 24px;
}

.nav-head a {
  padding-left: 0px;
  padding-right: 30px;
  /* color: @navHead; */
}

.nav-elem a:active,
.nav-elem a:hover,
.nav-elem a:focus {
  /* background-color: @navHi; */
}

.nav-head a:active,
.nav-head a:hover,
.nav-head a:focus {
  /* background-color: @navBG; */
}

.nav-active a {
  /* background-color: @navAct; */
}

li.nav-left {
  float: left;
}

li.nav-right {
  float: right;
}

/* POSTAMBLE */

div#postamble {
    top: 16px;
}

div#postamble.status p {
    text-align: right;
    font-size: 105%;
}

.timestamp {
    color: black;
}

/* BLOCKQUOTES */

blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";

  line-height: 1.1;
  text-align: justify;

  border-left: 15px solid #ccc;
  border-right: 2px solid #ccc;

  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote:before {
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote:after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
}

blockquote a:hover {
 color: #666;
}

blockquote em {
  font-style: italic;
}
